.checkbox__container {
  border-bottom: 1px solid #e0e0e0;
  font-size: 28px;
}
.checkbox__container .checkbox--option {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 16px 16px 0px;
  border: 1px solid #e0e0e0;
  border-bottom: none;
}
.checkbox__container .checkbox--option .option-main {
  position: relative;
  min-height: 36px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.checkbox__container .checkbox--option .option-main .option--icon {
  flex-shrink: 0;
  position: relative;
  width: 32px;
  height: 32px;
  margin: 0 20px;
  border: 1px solid #aaa;
  overflow: hidden;
}
.checkbox__container .checkbox--option .option-main .option--icon::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 9px;
  width: 10px;
  height: 20px;
  margin: auto;
  border: 4px solid #fff;
  border-left: 0;
  border-top: 0;
  transform: rotate(45deg) scale(0);
  transform-origin: center;
  opacity: 0;
}
.checkbox__container .checkbox--option .option-main .option--icon__selected {
  position: relative;
  display: inline-block;
  background-color: #478de2;
  border: 1px solid #1976d2;
}
.checkbox__container .checkbox--option .option-main .option--icon__selected::after {
  opacity: 1;
  transform: rotate(45deg) scale(1);
}
.checkbox__container .checkbox--option .option-main .option--icon__disabled {
  background-color: rgba(0, 0, 0, 0.04);
  border-color: #d9d9d9;
}
.checkbox__container .checkbox--option .option-main .option--icon__disabled::after {
  border: 4px solid rgba(0, 0, 0, 0.25);
  border-left: 0;
  border-top: 0;
}
.short-animation__all {
  transition: all 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
}
.short-animation__all::after {
  transition: all 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
}
