.s-input--number {
  position: relative;
  padding: 0px 20px;
}
.s-input--number::before {
  content: "\00a0";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  border-bottom: 2px solid rgba(0, 0, 0, 0.42);
}
.s-input--number::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  border-bottom: 4px solid #478de2;
  transform: scaleX(0);
  transition: transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}
.s-input--number__disabled::before {
  border-bottom-style: dotted;
}
.s-input--number__focus::after {
  transform: scaleX(1) translateX(0);
}
.s-border {
  border: 2px solid #ccc;
}
.s-size--xs {
  height: 40px;
}
.s-size--sm {
  height: 48px;
}
.s-size--md {
  height: 56px;
}
.s-size--xl {
  height: 64px;
}
