.radio__container {
  border-bottom: 1px solid #e0e0e0;
  font-size: 28px;

  .radio--option {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 16px 16px 0px;
    border: 1px solid #e0e0e0;
    border-bottom: none;

    .option--icon {
      flex-shrink: 0;
      position: relative;
      border-radius: 50%;
      width: 32px;
      height: 32px;
      margin: 0 20px;
      border: 1px solid #aaa;
      overflow: hidden;

      &::after {
        transform: scale(0);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        content: "";
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: #fff;
        opacity: 0;
      }
    }

    .option--icon__selected {
      background-color: #1976d2;
      border: 1px solid #1976d2;

      &::after {
        opacity: 1;
        transform: scale(1);
      }
    }

    .option--icon__disable {
      background-color: rgba(0, 0, 0, 0.04);
      border-color: #d9d9d9;

      &::after {
        background-color: rgba(0, 0, 0, 0.25);
      }
    }
  }
}

.short-animation__all {
  transition: all 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);

  &::after {
    transition: all 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
  }
}
